h1 , h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    width: 100%;
    color: black;
}

div {
    text-align:center;
}

h3 {
    text-align: center;
}

/*  top-left corner, top-right corner, bottom-right corner, bottom-left corner): */


#randomButton {
    border-radius: 200px;
    background-color: lightcoral;
    border-color: lightcoral;
    color: blanchedalmond;
    padding: 2em;
    margin-top: 10em;
    border-style: none;
    transition: 1s;
}

#randomButton:hover {
    background-color: yellowgreen;
    transform: scale(1.1);
}
